Repository joshuafolkken/tasks: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prevent-main-commit:
      skip: git diff --cached --quiet
      run: pnpm run prevent-main-commit

    audit:
      run: pnpm audit

    cspell:
      run: pnpm exec cspell {staged_files}

    prettier:
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}'
      run: pnpm exec prettier --check --ignore-unknown {staged_files}

    eslint:
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,svelte}'
      run: pnpm exec eslint --quiet --cache --cache-strategy content {staged_files}

  fail_text: |
    ðŸš« Commit blocked due to quality checks failure
    Please fix the issues above and try again.

    Quick fixes:
    â€¢ Run `pnpm run format` to auto-format code
    â€¢ Run `pnpm run lint` to check and fix linting issues
    â€¢ Run `pnpm run check` to verify TypeScript types

commit-msg:
  commands:
    check-commit-message:
      run: pnpm run check-commit-message {1}

pre-push:
  parallel: true
  commands:
    type-check:
      glob: '*.{svelte,ts,js,mjs,cjs}'
      run: pnpm run check

    test-unit:
      # glob: '*.{svelte,ts,js,css}'
      run: pnpm run test:unit --run

    test-e2e:
      glob: '{*.{svelte,ts,js,mjs,cjs},package.json}'
      run: pnpm run test:e2e

  fail_text: |
    ðŸš« Push blocked due to build or test failures
    Please resolve the issues above before pushing.

    Troubleshooting:
    â€¢ Check build errors: `pnpm run build`
    â€¢ Run tests locally: `pnpm run test:unit` and `pnpm run test:e2e`

"setup #4"
  drizzle.config.ts
  src/stories/Button.svelte
  src/stories/Header.svelte
  src/stories/Page.stories.svelte
  tsconfig.json
Due: prettier, eslint

"setup #4"
  package.json
  sonar-project.properties
  src/lib/server/db/index.ts
  tsconfig.json
  tsconfig.sonar.json
Due: prettier, eslint

"setup #4"
  package.json
Due: prettier

"setup #4"
  .prettierignore
Due: none

"cloudflare workers #15"
  package.json
Due: prettier

supabase auth #19 base code
  .env.example
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/hooks.server.ts
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/+layout.ts
Due: prettier, eslint

supabase auth #19 setup cli, change key
  .env.example
  cspell.config.yaml
  src/hooks.server.ts
  src/routes/+layout.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20260205053955_remote_schema.sql
Due: prettier, eslint

supabase auth #19 login
  eslint/rules/typescript.ts
  package.json
  pnpm-lock.yaml
  src/hooks.server.ts
  src/lib/http.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/account/+page.server.ts
  src/routes/account/+page.svelte
  src/routes/auth/confirm/+server.ts
  src/routes/auth/error/+page.svelte
Due: prettier, eslint

sign in with google #27
  eslint/rules/naming-convention.ts
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/auth/callback/+server.ts
Due: prettier, eslint

supabase auth #19 fix ci
  .github/workflows/ci.yml
  src/routes/auth/callback/+server.ts
Due: prettier, eslint

"sign in with google #27"
  package.json
Due: prettier

"i18n #30"
  .cursorrules
  messages/en.json
  messages/ja.json
  package.json
  pnpm-lock.yaml
  prompts/agent-lint-protocol.json
  prompts/coding-standards.md
  prompts/refactoring.md
  prompts/testing-guide.md
  src/lib/components/FormErrorMessage.svelte
  src/lib/components/SocialAuthButton.svelte
  src/lib/components/icons/GitHubIcon.svelte
  src/lib/components/icons/GoogleIcon.svelte
  src/lib/components/icons/types.ts
  src/lib/i18n.ts
  src/lib/routes.ts
  src/lib/url.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/account/+page.server.ts
  src/routes/account/+page.svelte
  src/routes/auth/callback/+server.ts
  vite.config.ts
Due: prettier, eslint

"button cursor #25"
  package.json
  src/routes/layout.css
Due: prettier

"target loading only #32"
  package.json
  src/lib/components/SocialAuthButton.svelte
  src/routes/+page.svelte
Due: prettier, eslint

"update antigravity rules #40"
  .agent/instructions.md
  GEMINI.md
  package.json
Due: prettier

"script version-minor #38"
  package.json
Due: prettier

"refactor #33"
  AGENTS.md
  src/lib/components/FormInput.svelte
  src/lib/components/LocaleSwitcher.svelte
  src/lib/server/auth.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/account/+page.server.ts
  src/routes/account/+page.svelte
Due: prettier, eslint

refactor #33
  GEMINI.md
  src/hooks.server.ts
  src/lib/config/auth-providers.ts
  src/lib/server/supabase-handle.ts
  src/routes/+page.svelte
Due: prettier, eslint

refactor #33
  src/lib/components/Card.svelte
  src/lib/server/services/profile.ts
  src/lib/server/utils/form.ts
  src/routes/+page.svelte
  src/routes/account/+page.server.ts
  src/routes/account/+page.svelte
Due: prettier, eslint

refactor #33
  package.json
  src/lib/config/constants.ts
  src/lib/supabase-client.ts
  src/routes/+layout.svelte
  src/routes/+layout.ts
Due: prettier, eslint

"same design #31"
  package.json
  src/routes/+layout.svelte
  src/routes/account/+page.svelte
Due: prettier, eslint

"same design #31"
  src/lib/components/CenteredPageLayout.svelte
  src/lib/components/PageHeader.svelte
  src/routes/+page.svelte
  src/routes/account/+page.svelte
Due: prettier, eslint

"fast account page #34"
  package.json
  src/lib/components/LocaleSwitcher.svelte
Due: prettier, eslint

"account page: update infos after updating #23"
  package.json
  src/lib/server/services/profile.ts
  src/routes/account/+page.server.ts
  src/routes/account/+page.svelte
Due: prettier, eslint

"formatting: blank line #20"
  .cursorrules
  eslint/rules/formatting.ts
  package.json
  scripts/check-commit-message.ts
  scripts/common.ts
  scripts/git/animation-helpers.ts
  scripts/git/git-animation.ts
  scripts/git/git-branch.ts
  scripts/git/git-command.ts
  scripts/git/git-commit.ts
  scripts/git/git-conflict.ts
  scripts/git/git-countdown.ts
  scripts/git/git-error.ts
  scripts/git/git-gh-command.ts
  scripts/git/git-issue.ts
  scripts/git/git-pr.ts
  scripts/git/git-prompt.ts
  scripts/git/git-push.ts
  scripts/git/git-status.ts
  src/lib/server/auth.ts
  src/routes/auth/confirm/+server.ts
  src/routes/page.svelte.spec.ts
Due: prettier, eslint

"changing language progress icon #45"
  eslint.config.js
  package.json
  src/lib/components/LocaleSwitcher.svelte
  src/lib/components/SocialAuthButton.svelte
  src/lib/components/Spinner.svelte
Due: prettier, eslint

"animate-spin #24"
  package.json
  src/lib/components/SocialAuthButton.svelte
  src/lib/components/SubmitButton.svelte
  src/routes/+page.svelte
  src/routes/account/+page.svelte
Due: prettier, eslint

"disabled:cursor-wait #54"
  package.json
  src/lib/components/SubmitButton.svelte
Due: prettier, eslint

"dark theme #44"
  package.json
  src/app.html
  src/lib/components/Card.svelte
  src/lib/components/FormErrorMessage.svelte
  src/lib/components/FormInput.svelte
  src/lib/components/LocaleSwitcher.svelte
  src/lib/components/PageHeader.svelte
  src/lib/components/Spinner.svelte
  src/lib/components/SubmitButton.svelte
  src/lib/components/ThemeSwitcher.svelte
  src/lib/stores/theme.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/account/+page.svelte
  src/routes/layout.css
Due: prettier, eslint

"dark theme #44"
  src/app.html
Due: prettier

"lang km, uz #59"
  cspell.config.yaml
  messages/km.json
  messages/uz.json
  package.json
  project.inlang/settings.json
Due: prettier

"small menu #62"
  cspell.config.yaml
  package.json
  src/lib/AppState.svelte.ts
  src/lib/actions/click-outside.ts
  src/lib/components/ThemeSwitcher.svelte
  src/lib/components/icons/ChevronDownIcon.svelte
  src/lib/components/icons/DarkIcon.svelte
  src/lib/components/icons/LanguageIcon.svelte
  src/lib/components/icons/LightIcon.svelte
  src/lib/components/icons/SystemIcon.svelte
  src/lib/components/icons/ThemeIcon.svelte
  src/lib/components/locale-switcher/LocaleSwitcherAdaptive.svelte
  src/lib/components/locale-switcher/LocaleSwitcherDropdown.svelte
  src/lib/components/locale-switcher/LocaleSwitcherIcon.svelte
  src/lib/components/locale-switcher/LocaleSwitcherInline.svelte
  src/lib/components/locale-switcher/LocaleSwitcherOriginal.svelte
  src/lib/components/locale-switcher/LocaleSwitcherPopover.svelte
  src/lib/components/locale-switcher/locale-names.ts
  src/routes/+layout.svelte
  src/routes/demo/+page.svelte
  src/routes/demo/locale-switcher/+page.svelte
Due: prettier, eslint

add tasks #18
  src/lib/routes.ts
  src/lib/server/db/schema.ts
  src/routes/todos/new/+page.svelte
Due: prettier, eslint

"disable current lang #68"
  package.json
  src/lib/components/LocaleSwitcher.svelte
Due: prettier, eslint

better auth #67 move supabase pages
  src/lib/routes.ts
  src/lib/server/auth.ts
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/auth/error/+page.svelte
  src/routes/demo/+page.svelte
  src/routes/demo/supabase/+layout.server.ts
  src/routes/demo/supabase/+layout.svelte
  src/routes/demo/supabase/+layout.ts
  src/routes/demo/supabase/+page.server.ts
  src/routes/demo/supabase/+page.svelte
  src/routes/demo/supabase/account/+page.server.ts
  src/routes/demo/supabase/account/+page.svelte
  src/routes/demo/supabase/auth/callback/+server.ts
  src/routes/demo/supabase/auth/confirm/+server.ts
  src/routes/demo/supabase/auth/error/+page.svelte
Due: prettier, eslint

better auth #67 setup d1
  schema.sql
  src/lib/server/db/index.ts
  wrangler.jsonc
Due: prettier, eslint

better auth #67 setup better auth
  .env.example
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/hooks.server.ts
  src/lib/auth-client.ts
  src/lib/auth.ts
Due: prettier, eslint

better auth #67 add drizzle schema and cleanup deps
  cspell.config.yaml
  drizzle.config.ts
  drizzle/migrations/0000_nervous_thor_girl.sql
  drizzle/migrations/meta/0000_snapshot.json
  drizzle/migrations/meta/_journal.json
  eslint/rules/naming-convention.ts
  package.json
  pnpm-lock.yaml
  scripts/git-workflow.ts
  src/lib/auth.ts
  src/lib/components/locale-switcher/LocaleSwitcherDropdown.svelte
  src/lib/server/db/schema.ts
Due: prettier, eslint

better auth #67 add OAuth login and account pages
  .env.example
  cspell.config.yaml
  package.json
  src/hooks.server.ts
  src/lib/auth.ts
  src/lib/routes.ts
  src/routes/account/+page.server.ts
  src/routes/account/+page.svelte
  src/routes/auth/login/+page.server.ts
  src/routes/auth/login/+page.svelte
  wrangler.jsonc
Due: prettier, eslint

"better auth #67"
  .env.example
  .github/workflows/ci.yml
  src/lib/auth.ts
  wrangler.jsonc
Due: prettier, eslint
