Repository joshuafolkken/tasks: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prevent-main-commit:
      skip: git diff --cached --quiet
      run: pnpm run prevent-main-commit

    audit:
      run: pnpm audit

    cspell:
      run: pnpm exec cspell {staged_files}

    prettier:
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,svelte,html,css,scss,md,mdx,json,jsonc,yaml,yml}'
      run: pnpm exec prettier --check --ignore-unknown {staged_files}

    eslint:
      glob: '*.{js,jsx,ts,tsx,mjs,cjs,svelte}'
      run: pnpm exec eslint --quiet --cache --cache-strategy content {staged_files}

  fail_text: |
    ðŸš« Commit blocked due to quality checks failure
    Please fix the issues above and try again.

    Quick fixes:
    â€¢ Run `pnpm run format` to auto-format code
    â€¢ Run `pnpm run lint` to check and fix linting issues
    â€¢ Run `pnpm run check` to verify TypeScript types

commit-msg:
  commands:
    check-commit-message:
      run: pnpm run check-commit-message {1}

pre-push:
  parallel: true
  commands:
    type-check:
      glob: '*.{svelte,ts,js,mjs,cjs}'
      run: pnpm run check

    test-unit:
      # glob: '*.{svelte,ts,js,css}'
      run: pnpm run test:unit --run

    test-e2e:
      glob: '{*.{svelte,ts,js,mjs,cjs},package.json}'
      run: pnpm run test:e2e

  fail_text: |
    ðŸš« Push blocked due to build or test failures
    Please resolve the issues above before pushing.

    Troubleshooting:
    â€¢ Check build errors: `pnpm run build`
    â€¢ Run tests locally: `pnpm run test:unit` and `pnpm run test:e2e`

add tasks #18 fix ci
  pnpm-lock.yaml
Due: prettier

add tasks #18 fix ci
  drizzle/ci-bootstrap.sql
Due: none

migrate remote db on release #115
  .github/workflows/production.yml
  drizzle/migrations/0002_task_label_schema.sql
  package.json
Due: prettier

migrate remote db on release #115
  src/routes/dash/+page.svelte
Due: prettier, eslint

fix: enable drag-and-drog for task items #117
  e2e/dash-task-reorder.test.ts
  package.json
  src/lib/components/dash/DashTaskCard.svelte
  src/lib/components/dash/DashTasksPanel.svelte
  src/routes/dash/dash-server-actions.spec.ts
Due: prettier, eslint

fix: enable drag-and-drog for task items #117 validate dropped task id
  src/lib/components/dash/DashTasksPanel.svelte
Due: prettier, eslint

separate PR followup workflow #121
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  prompts/collaboration-workflow.md
  scripts/git-followup-workflow.ts
  scripts/git/git-gh-command.ts
  scripts/git/git-notify.ts
  scripts/git/git-pr-followup.ts
Due: prettier, eslint

separate PR followup workflow #121
  prompts/collaboration-workflow.md
  scripts/git/git-gh-command.ts
  scripts/git/git-notify.ts
  scripts/git/git-pr-followup.ts
Due: prettier, eslint

separate PR followup workflow #121
  .env.example
  scripts/git/git-pr-checks.ts
  scripts/git/git-pr-followup.ts
  scripts/git/telegram-notify.ts
Due: prettier, eslint

separate PR followup workflow #121
  scripts/git/git-command.ts
  scripts/git/git-staging.ts
  scripts/git/git-status.ts
Due: prettier, eslint

separate PR followup workflow #121
  lefthook.yml
Due: prettier

separate PR followup workflow #121
  scripts/git/telegram-notify.ts
Due: prettier, eslint

separate PR followup workflow #121
  .env.example
  scripts/git/telegram-notify.ts
Due: prettier, eslint

fix: send Telegram notifications #124
  package.json
  prompts/collaboration-workflow.md
  scripts/git/git-pr-followup.ts
  scripts/git/telegram-notify.ts
  scripts/telegram-test.ts
Due: prettier, eslint

Dramatically speed up CodeRabbit on PRs #123
  .coderabbit.yaml
  .github/pull_request_template.md
  cspell.config.yaml
Due: prettier

Dramatically speed up CodeRabbit on PRs #123
  .claude/settings.local.json
  .coderabbit.yaml
  cspell.config.yaml
Due: prettier

Exit edit state on focus-out from the inline editor #127
  cspell.config.yaml
  e2e/dash-inline-editor.test.ts
  src/lib/components/dash/DashTaskInlineEditor.svelte
Due: prettier, eslint

change defaultMode for ClaudeCode #130
  .claude/settings.json
  .claude/settings.local.json
Due: prettier

Switch to main and pull latest before starting git workflow with AI #129
  scripts/git/git-branch.ts
  scripts/git/git-command.ts
Due: prettier, eslint

Add fullrun shorthand command to AI agent instruction files #135
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: prettier

Replace boilerplate completion report with implementation summary in Issue comments #132
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  prompts/collaboration-workflow.md
Due: prettier

Add fullrun new shorthand command to start workflow from issue creation #138
  AGENTS.md
  CLAUDE.md
Due: prettier

Speed up CodeRabbit PR reviews by disabling finishing touches, knowledge base, and unused tools #141
  .coderabbit.yaml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  cspell.config.yaml
  prompts/collaboration-workflow.md
Due: prettier

Speed up CodeRabbit PR reviews by disabling finishing touches, knowledge base, and unused tools #141
  .coderabbit.yaml
Due: prettier

Run pnpm version:minor once per fullrun before the initial commit #143
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  package.json
  prompts/collaboration-workflow.md
Due: prettier

Add toast notifications for POST request failures #145
  e2e/dash-ux.test.ts
  messages/en.json
  messages/ja.json
  messages/km.json
  messages/uz.json
  package.json
  src/lib/Toast.svelte.ts
  src/lib/components/Toast.svelte
  src/lib/dash-fetch.ts
  src/lib/toast.spec.ts
  src/routes/+layout.svelte
  src/routes/dash/+page.svelte
Due: prettier, eslint

Fix toast spec possibly-undefined CI type error #145
  src/lib/toast.spec.ts
Due: prettier, eslint

Fix all toast spec noUncheckedIndexedAccess CI errors #145
  src/lib/toast.spec.ts
Due: prettier, eslint

git:followup fails when SonarQube check is missing from PR rollup #148
  package.json
  scripts/git/git-pr-checks.ts
Due: prettier, eslint

git:followup exits too early before required checks appear in PR rollup #150
  package.json
  scripts/git/git-pr-checks.ts
Due: prettier, eslint

Set up Claude Code remote execution on claude.ai/code #134
  .claude/settings.json
  package.json
Due: prettier

Refactor remote setup: combine hooks into script with error handling #134
  .claude/remote-setup.sh
  .claude/settings.json
Due: prettier

Set up Claude Code remote execution on claude.ai/code #134
  prompts/collaboration-workflow.md
  scripts/git/git-pr-checks.ts
Due: prettier, eslint

Set up Claude Code remote execution on claude.ai/code #134
  .claude/remote-setup.sh
  scripts/git/git-pr-checks.ts
  scripts/git/git-pr-followup.ts
Due: prettier, eslint

Set up Claude Code remote execution on claude.ai/code #134
  .claude/remote-setup.sh
Due: none

Fix Claude Code permission prompts appearing on every command #153
  .claude/settings.json
Due: prettier

Improve Telegram notification message format #155
  CLAUDE.md
  package.json
  scripts/git/git-pr-followup.ts
  scripts/git/telegram-notify.ts
Due: prettier, eslint

Improve Telegram notification message format #155
  scripts/telegram-test.ts
Due: prettier, eslint

Fix literal \n in notify-message not being converted to newlines #155
  scripts/git/git-notify.ts
Due: prettier, eslint

Sync --notify-message format update to AGENTS.md and GEMINI.md #155
  AGENTS.md
  GEMINI.md
Due: prettier
